In [3]:
result = ['student1: B',
'student2: B',
'student3: B',
'student4: A',
'student5: B',
'student6: B',
'student7: D',
'student8: C',
'student9: B',
'student10: A',
'student11: C']

output = ['student1: B', 'student2: B', 'student3: B', 'student4: B', 'student5: B', 'student6: B', 'student7: C', 'student8: C', 'student9: B', 'student10: C', 'student11: C', ]

In [4]:
result == output

False

In [6]:
for idx, value in enumerate(result):
    if value != output[idx]:
        print(idx, value, output[idx])

3 student4: A student4: B
6 student7: D student7: C
9 student10: A student10: C

In [7]:
for idx in range(len(result)):
    if result[idx] != output[idx]:
        print(idx, result[idx], output[idx])

3 student4: A student4: B
6 student7: D student7: C
9 student10: A student10: C

In [ ]:
class Person:
    def __init__(self, first_name, last_name):
        self.first_name = first_name,
        self.last_name = last_name

In [10]:
from abc import ABC, abstractmethod


class Employee(ABC):
    def __init__(self, first_name, last_name, ssn):
        self.first_name = first_name
        self.last_name = last_name
        self.ssn = ssn

    @abstractmethod
    def earnings(self):
        pass

    def __repr__(self):
        return f'{self.first_name} {self.last_name}\nsocial security: {self.ssn}'

In [11]:
e1 = Employee('John', 'Doe', '111-22-3333')

In [12]:
e1.earnings()

In [13]:
e1

John Doe
social security: 111-22-3333

In [15]:
class SalariedEmployee(Employee):
    def __init__(self, first_name, last_name, ssn, salary):
        super().__init__(first_name, last_name, ssn)
        self.weekly_salary = salary

    def earnings(self):
        return self.weekly_salary

    def __repr__(self):
        return f'salaried employee: {super().__repr__()}\nweekly salary: ${self.weekly_salary}'

In [16]:
salaried_employee = SalariedEmployee('John', 'Doe', '111-22-3333', 500)

In [17]:
salaried_employee.earnings()

500

In [18]:
salaried_employee

salaried employee: John Doe
social security: 111-22-3333
weekly salary: $500

In [19]:
class HourlyEmployee(Employee):
    def __init__(self, first_name, last_name, ssn, hourly_wage, hours_worked):
        super().__init__(first_name, last_name, ssn)
        self.hourly_wage = hourly_wage
        self.hours_worked = hours_worked

    def earnings(self):
        if self.hours_worked < 40:  # no overtime
            earned = self.hourly_wage * self.hours_worked
        else:
            earned = 40 * self.hourly_wage + \
                (self.hours_worked - 40) * self.hourly_wage * 1.5

        return earned

    def __repr__(self):
        return f'hourly employee: {super().__repr__()}\nhourly wage: ${self.hourly_wage}; hours worked: {self.hours_worked}'

In [20]:
hourly_employee = HourlyEmployee('John', 'Doe', '111-22-3333', 25, 45)

In [21]:
hourly_employee.earnings()

1187.5

In [22]:
hourly_employee

hourly employee: John Doe
social security: 111-22-3333
hourly wage: $25; hours worked: 45

In [23]:
class CommissionEmployee(Employee):
    def __init__(self, first_name, last_name, ssn, sales, rate):
        super().__init__(first_name, last_name, ssn)
        self.sales = sales
        self.rate = rate

    def earnings(self):
        earned = self.sales * self.rate
        return earned

    def __repr__(self):
        return f'commission employee: {super().__repr__()}\ngross sales: ${self.sales}; commission rate: {self.rate}'

In [24]:
commission_employee = CommissionEmployee('John', 'Doe', '111-22-3333', 1000, 0.05)

In [25]:
commission_employee.earnings()

50.0

In [26]:
commission_employee

commission employee: John Doe
social security: 111-22-3333
gross sales: $1000; commission rate: 0.05

In [27]:
class BasePlusCommissionEmployee(CommissionEmployee):
    def __init__(self, first_name, last_name, ssn, sales, rate, salary):
        super().__init__(first_name, last_name, ssn, sales, rate)
        self.salary = salary

    def earnings(self):
        earned = self.salary + super().earnings()
        return earned

    def __repr__(self):
        return f'base-salaried {super().__repr__()}; base-salary: ${self.salary}'

In [28]:
base_plus_commission_employee = BasePlusCommissionEmployee('John', 'Doe', '111-22-3333', 1000, 0.05, 20000)

In [29]:
base_plus_commission_employee.earnings()

20050.0

In [30]:
base_plus_commission_employee

base-salaried commission employee: John Doe
social security: 111-22-3333
gross sales: $1000; commission rate: 0.05; base-salary: $20000

In [31]:
salaried_employee = SalariedEmployee('John', 'Smith', '111-11-1111', 800)
hourly_employee = HourlyEmployee('Karen', 'Price', '222-22-2222', 16.75, 40)
commission_employee = CommissionEmployee('Sue', 'Jones', '333-33-3333', 10000, 0.06)
base_plus_commission_employee = BasePlusCommissionEmployee('Bob', 'Lewis', '444-44-4444', 5000, 0.04, 300)


employees = [
    salaried_employee, 
    hourly_employee,
    commission_employee, 
    base_plus_commission_employee
]

for employee in employees:
    print()
    print(employee)
    print(f'earned: ${employee.earnings()}')

salaried employee: John Smith
social security: 111-11-1111
weekly salary: $800
earned: $800

hourly employee: Karen Price
social security: 222-22-2222
hourly wage: $16.75; hours worked: 40
earned: $670.0

commission employee: Sue Jones
social security: 333-33-3333
gross sales: $10000; commission rate: 0.06
earned: $600.0

base-salaried commission employee: Bob Lewis
social security: 444-44-4444
gross sales: $5000; commission rate: 0.04; base-salary: $300
earned: $500.0

In [32]:
for employee in employees:
    print()
    print(employee)
    if employee.__class__.__name__ == 'BasePlusCommissionEmployee':
        employee.salary = 1.10 * employee.salary
        print(f'new base salary with 10% increase is {employee.salary}')
    print(f'earned: ${employee.earnings()}')

salaried employee: John Smith
social security: 111-11-1111
weekly salary: $800
earned: $800

hourly employee: Karen Price
social security: 222-22-2222
hourly wage: $16.75; hours worked: 40
earned: $670.0

commission employee: Sue Jones
social security: 333-33-3333
gross sales: $10000; commission rate: 0.06
earned: $600.0

base-salaried commission employee: Bob Lewis
social security: 444-44-4444
gross sales: $5000; commission rate: 0.04; base-salary: $300
new base salary with 10% increase is 330.0
earned: $530.0

In [33]:
base_plus_commission_employee + base_plus_commission_employee

TypeError: unsupported operand type(s) for +: 'BasePlusCommissionEmployee' and 'BasePlusCommissionEmployee'

In [34]:
1 + 1

2

In [35]:
1 + 2.5

3.5

In [36]:
1 + '1'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [39]:
import math
class Circle:

    def __init__(self, radius):
        self.radius = radius

    def get_area(self):
        return math.pi * self.radius**2

    def __repr__(self):
        return "Circle with radius " + str(self.radius)

In [40]:
c1 = Circle(10)
c2 = Circle(15)

In [41]:
c1 + c2

TypeError: unsupported operand type(s) for +: 'Circle' and 'Circle'

In [46]:
import math
class Circle:

    def __init__(self, radius):
        self.radius = radius

    def get_area(self):
        return math.pi * self.radius**2

    def __repr__(self):
        return "Circle with radius " + str(self.radius)
    
    def __add__(self, another_circle): # another_circle ---> self + another_circle
        return Circle(self.radius + another_circle.radius)
    
    def __gt__(self, another_circle):
        return self.radius > another_circle.radius

    def __lt__(self, another_circle):
        return self.radius < another_circle.radius

In [47]:
c1 = Circle(10)
c2 = Circle(15)

c1 + c2

Circle with radius 25

In [48]:
c1 < c2

True

In [49]:
c1 > c2

False

In [50]:
class Point:
    def __init__(self, x=0, y=0):
        self.x = x
        self.y = y

    def __add__(self, another_point):
        return Point(self.x + another_point.x, self.y + another_point.y)

    def __sub__(self, another_point):
        return Point(self.x - another_point.x, self.y - another_point.y)

    def __str__(self):
        return f'{self.x}, {self.y}'

In [51]:
p1 = Point(3, 4)
p2 = Point(8, 6)
print(p2+p1)

11, 10

In [52]:
print(p2-p1)

5, 2

In [53]:
import math
class Point:
    def __init__(self, x=0, y=0):
        self.x = x
        self.y = y

    def __add__(self, another_point):
        return Point(self.x + another_point.x, self.y + another_point.y)

    def __sub__(self, another_point):
        return Point(self.x - another_point.x, self.y - another_point.y)

    def length(self):
        return math.sqrt(self.x**2 + self.y**2)

    def distance(self, another_point):
        return (self - another_point).length()

    def __str__(self):
        return f'{self.x}, {self.y}'

p1 = Point(3, 4)
p2 = Point(8, 6)
print(p1.distance(p2))

5.385164807134504

In [54]:
x = range(5)
for i in x:
    print(i)

0
1
2
3
4

In [55]:
class MyRange:

    def __init__(self, limit):
        self.limit = limit

    def __iter__(self):
        self.value = 0
        return self

    def __next__(self):
        if self.value < self.limit:
            output = self.value
            self.value += 1
            return output
        else:
            raise StopIteration

In [56]:
my_range = MyRange(10)

In [57]:
my_range.limit

10

In [58]:
i = iter(my_range)

In [59]:
ii = my_range.__iter__()

In [60]:
id(i)

2549340306448

In [61]:
id(ii)

2549340306448

In [62]:
next(i)

0

In [63]:
next(i)

1

In [64]:
next(i)

2

In [65]:
next(i)

3

In [66]:
i.__next__()

4

In [67]:
i.__next__()

5

In [68]:
i.__next__()

6

In [69]:
i.__next__()

7

In [70]:
i.__next__()

8

In [71]:
i.__next__()

9

In [72]:
i.__next__()

StopIteration:

In [78]:
for value in MyRange(10):
    print(value)

0
1
2
3
4
5
6
7
8
9

In [79]:
class PowX:
    def __init__(self, limit, power):
        self.limit = limit
        self.power = power

    def __iter__(self):
        self.value = 0
        return self

    def __next__(self):
        if self.value < self.limit:
            output = self.value**self.power
            self.value += 1
            return output
        else:
            raise StopIteration
            
            
for ele in PowX(10, 3):
    print(ele)

0
1
8
27
64
125
216
343
512
729

In [80]:
for i in p1:
    print(i)

TypeError: 'Point' object is not iterable

In [82]:
## lets use generator

def PowX(limit, power):
    value = 0
    while value < limit:
        yield value**power
        value += 1

In [83]:
values = PowX(10, 3)
for ele in values:
    print(ele)

0
1
8
27
64
125
216
343
512
729

In [84]:
values

In [85]:
for ele in values:
    print(ele)

In [86]:
values = PowX(10, 3)

In [87]:
values

In [88]:
l = list(values)
print(l)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [89]:
for e in l:
    print(e)

0
1
8
27
64
125
216
343
512
729

In [90]:
for e in l:
    print(e)

0
1
8
27
64
125
216
343
512
729