In [3]:
result = ['student1: B',
'student2: B',
'student3: B',
'student4: A',
'student5: B',
'student6: B',
'student7: D',
'student8: C',
'student9: B',
'student10: A',
'student11: C']

output = ['student1: B', 'student2: B', 'student3: B', 'student4: B', 'student5: B', 'student6: B', 'student7: C', 'student8: C', 'student9: B', 'student10: C', 'student11: C', ]

In [4]:
result == output

False

In [6]:
for idx, value in enumerate(result):
    if value != output[idx]:
        print(idx, value, output[idx])

3 student4: A student4: B
6 student7: D student7: C
9 student10: A student10: C

In [7]:
for idx in range(len(result)):
    if result[idx] != output[idx]:
        print(idx, result[idx], output[idx])

3 student4: A student4: B
6 student7: D student7: C
9 student10: A student10: C

In [ ]:
class Person:
    def __init__(self, first_name, last_name):
        self.first_name = first_name,
        self.last_name = last_name

In [10]:
from abc import ABC, abstractmethod


class Employee(ABC):
    def __init__(self, first_name, last_name, ssn):
        self.first_name = first_name
        self.last_name = last_name
        self.ssn = ssn

    @abstractmethod
    def earnings(self):
        pass

    def __repr__(self):
        return f'{self.first_name} {self.last_name}\nsocial security: {self.ssn}'

In [11]:
e1 = Employee('John', 'Doe', '111-22-3333')

In [12]:
e1.earnings()

In [13]:
e1

John Doe
social security: 111-22-3333

In [15]:
class SalariedEmployee(Employee):
    def __init__(self, first_name, last_name, ssn, salary):
        super().__init__(first_name, last_name, ssn)
        self.weekly_salary = salary

    def earnings(self):
        return self.weekly_salary

    def __repr__(self):
        return f'salaried employee: {super().__repr__()}\nweekly salary: ${self.weekly_salary}'

In [16]:
salaried_employee = SalariedEmployee('John', 'Doe', '111-22-3333', 500)

In [17]:
salaried_employee.earnings()

500

In [18]:
salaried_employee

salaried employee: John Doe
social security: 111-22-3333
weekly salary: $500

In [19]:
class HourlyEmployee(Employee):
    def __init__(self, first_name, last_name, ssn, hourly_wage, hours_worked):
        super().__init__(first_name, last_name, ssn)
        self.hourly_wage = hourly_wage
        self.hours_worked = hours_worked

    def earnings(self):
        if self.hours_worked < 40:  # no overtime
            earned = self.hourly_wage * self.hours_worked
        else:
            earned = 40 * self.hourly_wage + \
                (self.hours_worked - 40) * self.hourly_wage * 1.5

        return earned

    def __repr__(self):
        return f'hourly employee: {super().__repr__()}\nhourly wage: ${self.hourly_wage}; hours worked: {self.hours_worked}'

In [20]:
hourly_employee = HourlyEmployee('John', 'Doe', '111-22-3333', 25, 45)

In [21]:
hourly_employee.earnings()

1187.5

In [22]:
hourly_employee

hourly employee: John Doe
social security: 111-22-3333
hourly wage: $25; hours worked: 45

In [23]:
class CommissionEmployee(Employee):
    def __init__(self, first_name, last_name, ssn, sales, rate):
        super().__init__(first_name, last_name, ssn)
        self.sales = sales
        self.rate = rate

    def earnings(self):
        earned = self.sales * self.rate
        return earned

    def __repr__(self):
        return f'commission employee: {super().__repr__()}\ngross sales: ${self.sales}; commission rate: {self.rate}'

In [24]:
commission_employee = CommissionEmployee('John', 'Doe', '111-22-3333', 1000, 0.05)

In [25]:
commission_employee.earnings()

50.0

In [26]:
commission_employee

commission employee: John Doe
social security: 111-22-3333
gross sales: $1000; commission rate: 0.05

In [27]:
class BasePlusCommissionEmployee(CommissionEmployee):
    def __init__(self, first_name, last_name, ssn, sales, rate, salary):
        super().__init__(first_name, last_name, ssn, sales, rate)
        self.salary = salary

    def earnings(self):
        earned = self.salary + super().earnings()
        return earned

    def __repr__(self):
        return f'base-salaried {super().__repr__()}; base-salary: ${self.salary}'

In [28]:
base_plus_commission_employee = BasePlusCommissionEmployee('John', 'Doe', '111-22-3333', 1000, 0.05, 20000)

In [29]:
base_plus_commission_employee.earnings()

20050.0

In [30]:
base_plus_commission_employee

base-salaried commission employee: John Doe
social security: 111-22-3333
gross sales: $1000; commission rate: 0.05; base-salary: $20000

In [31]:
salaried_employee = SalariedEmployee('John', 'Smith', '111-11-1111', 800)
hourly_employee = HourlyEmployee('Karen', 'Price', '222-22-2222', 16.75, 40)
commission_employee = CommissionEmployee('Sue', 'Jones', '333-33-3333', 10000, 0.06)
base_plus_commission_employee = BasePlusCommissionEmployee('Bob', 'Lewis', '444-44-4444', 5000, 0.04, 300)


employees = [
    salaried_employee, 
    hourly_employee,
    commission_employee, 
    base_plus_commission_employee
]

for employee in employees:
    print()
    print(employee)
    print(f'earned: ${employee.earnings()}')

salaried employee: John Smith
social security: 111-11-1111
weekly salary: $800
earned: $800

hourly employee: Karen Price
social security: 222-22-2222
hourly wage: $16.75; hours worked: 40
earned: $670.0

commission employee: Sue Jones
social security: 333-33-3333
gross sales: $10000; commission rate: 0.06
earned: $600.0

base-salaried commission employee: Bob Lewis
social security: 444-44-4444
gross sales: $5000; commission rate: 0.04; base-salary: $300
earned: $500.0

In [ ]:
for employee in employees:
    print()
    print(employee)
    if employee.__class__.__name__ == 'BasePlusCommissionEmployee':
        employee.salary = 1.10 * employee.salary
        print(f'new base salary with 10% increase is {employee.salary}')
    print(f'earned: ${employee.earnings()}')