In [1]:
[ f(ele) for ele in sequence ]

NameError: name 'sequence' is not defined

In [2]:
sequence = range(5)
def f(x):
    y = x * x
    return y

my_list = []
for ele in sequence:
    my_list.append(f(ele))
    
my_list

[0, 1, 4, 9, 16]

In [3]:
my_list_comp = [ f(ele) for ele in sequence ]

my_list_comp

[0, 1, 4, 9, 16]

In [5]:
my_list_comp = [ele * ele for ele in sequence ]
my_list_comp

[0, 1, 4, 9, 16]

In [6]:
[ f(ele) for ele in sequence if condition ]

NameError: name 'condition' is not defined

In [7]:
sequence = range(1,21)

even = [ number for number in sequence if number % 2 == 0]
even

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [8]:
sequence = range(1,21)

odd = [ number for number in sequence if number % 2 != 0]
odd

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [9]:
[ f(ele) if condition else g(ele) for ele in sequence ]

NameError: name 'condition' is not defined

In [13]:
def square(x):
    return x * x

def cube(x):
    return x * x * x
 
sequence = range(1,21)

result = [ (number, square(number)) if number % 2 == 0 else (number, cube(number)) for number in sequence]
result

[(1, 1),
 (2, 4),
 (3, 27),
 (4, 16),
 (5, 125),
 (6, 36),
 (7, 343),
 (8, 64),
 (9, 729),
 (10, 100),
 (11, 1331),
 (12, 144),
 (13, 2197),
 (14, 196),
 (15, 3375),
 (16, 256),
 (17, 4913),
 (18, 324),
 (19, 6859),
 (20, 400)]

In [14]:
 # list_comp_ex1.py
# Re-write the following code to use List Comprehension
# my_list = [1, 2, 3]
# new_list = []
# for ele in my_list:
#     tmp = ele * ele
#     new_list.append(tmp)

my_list = [1, 2, 3]
result = [ ele*ele for ele in my_list]
result

[1, 4, 9]

In [15]:
# list_comp_ex2.py
# Re-write the following code to use List Comprehension
# # Multiply each number by 10

# my_list = [1, 2, 3]
# new_list = []
# for ele in my_list:
#     tmp = ele * 10
#     new_list.append(tmp)


my_list = [1, 2, 3]
result = [ ele*10 for ele in my_list]
result

[10, 20, 30]

In [18]:
# list_comp_ex3.py
# Upper case each letter in animal variable

# # Works with any type of sequence

animal = 'buffalo'

result = [ char.upper() for char in animal]
result = ''.join(result)
result

'BUFFALO'

In [19]:
animal.upper()

'BUFFALO'

In [20]:
students = ['john', 'jane', 'doe']

result = [ student.title() for student in students]
result

['John', 'Jane', 'Doe']

In [21]:
my_list = [0, '', []]

result = [ True if ele else False for ele in my_list ]
result

[False, False, False]

In [24]:
my_list = [0, 0.0, '0', '', [], (), {}, 1, 3.14, True, False, None]

result = [ (ele, True) if ele else (ele, False) for ele in my_list ]
result

[(0, False),
 (0.0, False),
 ('0', True),
 ('', False),
 ([], False),
 ((), False),
 ({}, False),
 (1, True),
 (3.14, True),
 (True, True),
 (False, False),
 (None, False)]

In [25]:
my_list = range(6)

result = [ str(number) for number in my_list]
result

['0', '1', '2', '3', '4', '5']

In [26]:
numbers = range(10)

result = [ number if number % 2 == 0 else number**3 for number in numbers ]
result

[0, 1, 2, 27, 4, 125, 6, 343, 8, 729]

In [30]:
sentence = 'I rEAlly want to gO to woRK'
vowels = ['a', 'e', 'i', 'o', 'u']

result = ''.join([ char for char in sentence if char.lower() not in vowels]).strip()
result

'rlly wnt t g t wRK'

In [31]:
A = {0, 2,    4, 6, 8};
B = {1, 2, 3, 4, 5};

A

{0, 2, 4, 6, 8}

In [35]:
result = A | B

In [36]:
list(result)

[0, 1, 2, 3, 4, 5, 6, 8]

In [37]:
A & B

{2, 4}

In [38]:
A - B

{0, 6, 8}

In [39]:
B - A

{1, 3, 5}

In [42]:
my_list = [1, 1, 2, 3]

In [43]:
new_list = []
for ele in my_list:
    if ele not in new_list:
        new_list.append(ele)
new_list

[1, 2, 3]

In [44]:
set(my_list)

{1, 2, 3}

In [46]:
my_list_set = list(set(my_list))
my_list_set

[1, 2, 3]

In [47]:
my_set = set(my_list)
my_set

{1, 2, 3}

In [49]:
my_set.add(1)
my_set

{1, 2, 3}

In [50]:
my_set.add(4)
my_set

{1, 2, 3, 4}

In [ ]:
my_set.